TFOMS/FPCS.Web.Admin/Service References/TestService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:61889/Service1.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:61889/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetImportResult_InputMessage">
    <wsdl:part name="parameters" element="GetImportResult" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImportResult_OutputMessage">
    <wsdl:part name="parameters" element="GetImportResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertTfomsFile_InputMessage">
    <wsdl:part name="parameters" element="InsertTfomsFile" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertTfomsFile_OutputMessage">
    <wsdl:part name="parameters" element="InsertTfomsFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetImportResult">
      <wsdl:input wsaw:Action="urn:IService1/GetImportResult" message="IService1_GetImportResult_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/GetImportResultResponse" message="IService1_GetImportResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTfomsFile">
      <wsdl:input wsaw:Action="urn:IService1/InsertTfomsFile" message="IService1_InsertTfomsFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/InsertTfomsFileResponse" message="IService1_InsertTfomsFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>