TFOMS/FPCS.Web.Admin/Service References/TFOMS_OUT/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://141.0.177.117/TfomsSsrvice/Service1.svc?xsd=xsd2" />
  <xs:import schemaLocation="http://141.0.177.117/TfomsSsrvice/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="GetImportResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImportResultResult" nillable="true" type="FLK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTfomsFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="tfomsZipFile" nillable="true" type="q1:TfomsZipFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTfomsFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTfomsFileResult" nillable="true" type="FLK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>