TFOMS/FPCS.Web.Admin/Service References/TFOMS_OUT/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FLK">
    <xs:sequence>
      <xs:element minOccurs="0" name="FNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FNAME_I" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PR" nillable="true" type="ArrayOfPR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FLK" nillable="true" type="FLK" />
  <xs:complexType name="ArrayOfPR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PR" nillable="true" type="PR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPR" nillable="true" type="ArrayOfPR" />
  <xs:complexType name="PR">
    <xs:sequence>
      <xs:element minOccurs="0" name="BAS_EL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IM_POL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="N_ZAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OSHIB" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PR" nillable="true" type="PR" />
</xs:schema>